.reset-board {
    margin-top: 20px;
}

#reset-button {
    background-color: aqua;
    border-radius: 40%;
    border-color: aqua;
    padding: 5px;
}

#reset-button a {
    text-decoration: none;
    color: black;
}

.title {
    font-size: 55px;
    color: orange;
    margin-bottom: 50px;
}